*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "微软雅黑";
}
.top{
	position:absolute;
	top:10px;
	left:0px;
	right:0px;
	
	height:800px;
	background: url(./image2.jpg) no-repeat 0px;
	background-size:100% 100%;
	
	
	/*background-attachment: scroll;*/
}
.bottom{
	background-color: #141414;
	size: 100%;
	position:absolute;
	top:800px;
	left:0px;
	height: 200px;

}
.fengmian_next{
	padding-left: 620px; 
	padding-top: 20px; 
	font-weight: bold;
	font-size:50px;

}
.li_next{
	list-style-type: none;
}
.chaolianjie{
	text-decoration:none;
	color: white;
}
.chaolianjie:hover{
	text-decoration:none;
	color: red;
}

